@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header {
    background-color: #cf6e6e;
    box-shadow: 0px 3px 10px #af4a4a;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--header-bg);
    box-shadow: var(--header-shadow);
}
:root {
  --header-shadow: 0px 3px 10px #af4a4a;
  --header-bg: #cf6e6e;
}

body.dark-mode {
  --header-shadow: 0px 3px 10px #00000080;
  --header-bg: #3b2a20;
}

/* Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0 -5px;
}
.img-logo {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Sans", sans-serif;
}
body{
     background-color: rgba(235, 235, 235, 0.904);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.formulario{

    width: 400px;
    background-color: transparent;
    border: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #000000e3;
    border-radius: 14px;
    padding: 24px;
    overflow: hidden;
}
.header {
    background-color: #af4a4a;
    padding: 20px;
    margin: -25px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;

}
.caixa-formulario {
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
}

.caixa-formulario input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #080808e3;
    background-color:  rgba(255, 255, 255, 0.664);
    font-size: 16px;
    padding: 0 20px;
}

.caixa-formulario input::placeholder {
    color: rgba(0, 0, 0, 0.89);
}

.caixa-lembrar-esqueci{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;

}

.caixa-lembrar-esqueci label{
    display: flex;
    align-items: center;
    gap: 5px;


}

.caixa-lembrar-esqueci a {
    text-decoration: none;

}

.caixa-lembrar-esqueci a:hover {
    text-decoration: underline;

}
button{
    width: 100%;
    height: 45px;
    background-color:#af4a4a;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}
button:hover {
    background-color: #bd3737;
    transform: translateY(-5px);

}
.link-registro{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;

}
.link-registro a {
    text-decoration: none;
    font-weight: bold;

}

.link-registro a:hover {
    text-decoration: underline;

}