*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Funnel", sans-serif;
}
body {
    background-color: rgba(235, 235, 235, 0.904);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: transparent;
    border-radius: 14px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgb(0, 0, 0, 0.5);
    overflow: hidden;
}
.header {
    background-color: #af4a4a;
    padding: 24px;
    text-align: center;
    color: #fff;

}
.form {
    padding: 18px;
}
.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}
.form-content label {
    display: inline-block;
    margin-bottom: 4px;
}
.form-content input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}
.form-content a {
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
.form button {
    background-color:  #af4a4a;
    color: #fff;
    width: 100%;
    border-radius: 14px;
    padding: 16px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}
button:hover {
    background-color: #bd3737;
    transform: translateY(-5px);
}
.form-content.error input {
    border-color: #bd3737;

}
.form-content.error a {
    color: #bd3737;
    visibility: visible;
}
